<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageSources>
  <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <add key="GitHub_Breaveheard" value="https://nuget.pkg.github.com/Breaveheard/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHub_Breaveheard>
        <add key="Username" value="daniel.wiege@outlook.com" />
        <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA1nX6N8v640yqBHq6xbE4RwAAAAACAAAAAAAQZgAAAAEAACAAAAA+I8uBFzmZIuiMDKQjZIedFFKMbBH1J/qMjUl+C2i/wAAAAAAOgAAAAAIAACAAAACpcDyyvmCQiyzuP0AMJ5Qn+AZkXci/DAw52r130qS+iDAAAAD7A01cQh/OaGD436wO87TsmnRu1PXcHVN6dCw5BgINIaPP9OKrb+jjC+b6wwY0MSdAAAAAOk8bRuge40we1rDU7OKzvgmUjkhcTd/V9jVmFxyzukfSTXclg2KWyemDnLcoeH61pbB+xhM9Ke824ou4r56uAQ==" />
      </GitHub_Breaveheard>
  </packageSourceCredentials>
</configuration>